[submodule "Carthage/Checkouts/flac-ios"]
	path = Carthage/Checkouts/flac-ios
	url = https://github.com/iftahh/flac-ios.git
[submodule "Carthage/Checkouts/JSQMessagesViewController"]
	path = Carthage/Checkouts/JSQMessagesViewController
	url = https://github.com/iftahh/JSQMessagesViewController.git
[submodule "Carthage/Checkouts/RXPromise"]
	path = Carthage/Checkouts/RXPromise
	url = https://github.com/iftahh/RXPromise.git
